*{
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color : white;
}
#categories {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;

}


.category-items {
    padding: 10px;
    border-radius: 5px;
}

#logo {
    font-size: 24px;
    color: Black;
}

#youtube {

    font-size: 36px;
    color: white;

}

#search-input {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

#search-btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
}

.video-card{
    border-radius: 10px;
    padding: 10px;
}